name: Build and Push Docker Image

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - contextdir: docker/ai_infn/jlab/
            imagename: jlab-ai-infn:head
            baseimagename: harbor.cloud.infn.it/datacloud-templates/jlab-base:2.1.1
            baseimagecontext: docker/singlenode/jlab-base

          - contextdir: docker/ai_infn/jhub/
            imagename: jhub-ai-infn:head
            baseimagename: ""
            baseimagecontext: ""

          - contextdir: docker/ai_infn/tabbyml/
            imagename: tabbyml:head
            baseimagename: ""
            baseimagecontext: ""

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Log in to GHCR
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build base image ${{ matrix.baseimagename }} from ${{ matrix.baseimagecontext }}
        if: ${{ matrix.baseimagename != '' && matrix.baseimagename != null }}
        run: |
          docker build -t ${{ matrix.baseimagename }} ${{ matrix.baseimagecontext }}

      - name: Build image ${{ matrix.imagename }} frin ${{ matrix.contextdir }}
        run: |
          IMAGE_NAME=ghcr.io/${{ github.repository }}/${{ matrix.imagename }}
          docker build -t $IMAGE_NAME ${{ matrix.contextdir }}

      - name: Push image ${{ matrix.imagename }} to GHCR
        run: |
          IMAGE_NAME=ghcr.io/${{ github.repository }}/${{ matrix.imagename }}
          docker push $IMAGE_NAME



